{% extends 'layout.html' %}
{% block content %}
    <h1>환영합니다. LMS 페이지입니다.</h1>
    <div class="row g-4 mb-4">
      <div class="col-6 col-md-3">
        <a href="#" class="text-decoration-none text-dark">
          <div class="tile">성적</div>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a href="#" class="text-decoration-none text-dark">
          <div class="tile">성적</div>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a href="#" class="text-decoration-none text-dark">
          <div class="tile">성적</div>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a href="#" class="text-decoration-none text-dark">
          <div class="tile">프로필</div>
        </a>
      </div>
    </div>

    <!-- 아래 2분할: 9 + 3 -->
    <div class="row g-4">
      <div class="col-12 col-lg-9">
        <div class="panel">자유게시판</div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="panel">자료<br/>게시판</div>
      </div>
    </div>
{% endblock %}